@import '@/scss/_mixins.scss';
@import '@/scss/wiggle.scss';
@import '@/scss/editModeHighlightAnim.scss';

.student {
	overflow: hidden;
	/* width: 25%; */
	// height: 25%; // makes elements unnaturally shrink when height very small

	// flex-basis: 25%;
	max-width: calc(61.8% + 6.18rem); // golden ratio

	border-radius: 1rem;
	$student-bg-color: lighten($main-color, 2%);
	background-color: $student-bg-color;
	flex-grow: 1;
	margin-right: $students-left-padding;
	margin-bottom: $students-top-padding;
	@include nav-shadow;
	display: flex;
	flex-direction: column;
	height: auto;
	transition: opacity 0.25s ease-in-out;

	&.editing-in-progress {
		opacity: 0.5;
	}

	/* On Edit Mode active somehow make it visible that these elements are editable. */
	#imie,
	#nazwisko,
	#klasa,
	#telefon {
		cursor: default;
	}

	#imie,
	#nazwisko,
	#klasa,
	#telefon {
		min-width: 2px;
		z-index: 1;
		transition: all 0.25s ease;
	}

	&.edit-mode-active {

		#imie,
		#nazwisko,
		#klasa,
		#telefon {
			padding-left: 1px;
			cursor: text;
			position: relative;
			min-width: 1rem;
			z-index: 1;
			// padding: 0.2rem 0.5rem;
			background-color: lighten($student-bg-color, 0.5%);
			border-width: 1px;
			border-color: lightblue;
			border-style: solid;

			&:after {
				$borderWidth: 1px;

				content: '';
				position: absolute;
				top: calc(-1 * #{$borderWidth});
				left: calc(-1 * #{$borderWidth});
				height: calc(100% + #{$borderWidth} * 2);
				width: calc(100% + #{$borderWidth} * 2);
				background: linear-gradient(60deg, rgb(255, 255, 255) 0%, rgb(203, 232, 255) 50%, rgb(255, 255, 255));
				border-radius: calc(2 * #{$borderWidth});
				z-index: -1;

				animation-name: editModeHighlightAnim;
				animation-duration: 2s;
				animation-timing-function: linear;
				animation-direction: alternate;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
				background-size: 300% 300%;
			}
		}

	}

	&.invisible {
		opacity: 0;
		// display: none;
	}

	#content {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		font-weight: 300;

		.info {
			font-weight: 400;
		}

		div {
			display: flex;

			div {
				margin-left: 0.5rem;
			}
		}
	}

	#header {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: auto;
		padding: calc(0.5rem + 1vh) calc(0.5rem + 1vw);
		background-color: darken($student-bg-color, 2%);

		// background-color: lightblue;
		// border-bottom-right-radius: 0.5rem;
		// border-bottom-left-radius: 0.5rem;
		border-style: solid;
		border-width: 0px;
		border-bottom-width: 1px;
		border-color: transparentize(black, 0.9);

		// height: calc(1rem + 1vh);
		// height: 50rem;

		#name {
			text-align: center;
			line-height: 100%;
			height: 100%;
			font-weight: 500;
			word-break: break-word;
			display: flex;

			#imie {
				margin-right: 0.25rem;
			}
		}

		#tools {
			margin-left: auto;
			// background-color: darken($main-color, 2%);
			padding: 0.1rem;
			border-radius: 0.1rem;
			display: flex;
			align-items: center;
			overflow: hidden;

			div#edit-mode-tools {
				font-size: 1.5rem;
				border-radius: 1rem;
				background-color: lighten($student-bg-color, 1%);
				padding: 0.5rem 1rem;
				transform: translateX(4vw);
				opacity: 0;
				pointer-events: none;
				align-items: center;

				display: flex;
				width: calc(2.5rem + 2vw);
				justify-content: space-between;

				transition: transform 200ms ease-out, opacity 150ms ease-out;

				@media screen and (max-width: 500px) {
					position: fixed;
					top: 2rem;
					height: 2rem;
					right: 2rem;
					box-shadow: 10px 10px 72px -14px rgba(0, 0, 0, 0.3);
					z-index: 10;
				}

				#edit-save {
					color: lighten(green, 20%);
				}

				#edit-cancel {
					color: red;
					/* Widen the X a bit, make it easier to hit.  */
					padding: 0 2px;
				}

				&.edit-mode-active {
					display: flex;
					pointer-events: all;
					opacity: 1;
					transform: translateX(2vw);
				}
			}

			i {

				&.fa-edit,
				&.fa-trash-alt {
					margin-left: 1vw;

					&:active {
						transition: font-size 100ms ease-in;
						font-size: 1.1rem;
					}

					&:hover {
						animation-name: wiggle;
						animation-duration: 800ms;
						animation-iteration-count: infinite;
						animation-timing-function: ease-in-out;

						&.fa-trash-alt {
							color: lighten(red, 20%);
						}
					}
				}

				&.fa-edit {
					&.edit-mode-active {
						opacity: 0;
						pointer-events: none;
					}

					transition: opacity 200ms ease-out;
				}

				cursor: pointer;
				transition: all 0.25s ease-in-out;
				transition-property: color,
				transform;
				transform-origin: center center;

				&.fa-edit:hover,
				&.fa-edit.edit-mode-active {
					color: lighten(blue, 20%);
				}
			}
		}
	}
}