// I plan to use this with the toolbar icons
// https://codepen.io/theDeanH/pen/zBZXLN

@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(-10deg);
	}

	50% {
		transform: rotate(20deg);
	}

	75% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}